@font-face {
  font-family: Nosifer;
  src: url(Nosifer-Regular.ttf);
  /* font-weight, font-style ==> по умолчанию normal */
}

/* Мои стили */

body {
    margin: 0;
    font: 16px Arial, sans-serif;
    background: #444;
}

.container {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
}

.title {
    font-size: 24px;
    text-align: center;
}

.task {
    background: #efefef;
    padding: 10px;
    border: 1px solid #ccc;
    word-wrap: break-word;
}

.task p {
    margin: 0 0 10px;
}

.workplace {
    border-top: 1px dashed #ccc;
    margin-top: 20px;
}

.heading {
    background: #2a2a2a;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    position: relative;
}

.link {
    display: inline-block;
    font-weight: bold;
    color: #3791AB;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Ваши стили */

.font_1
{
    font-family: 'Open Sans Condensed', sans-serif;
}

.font_2
{
    font-family: Nosifer, sans-serif;
}


